  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../vendors/js/vendor.bundle.base.js"></script>
  <script src="../vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../vendors/js/off-canvas.js"></script>
  <script src="../vendors/js/misc.js"></script>
  <!-- endinject -->
</body>

</html>