<% include ../partials/header %> 

     <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-tent"></span> Welcome To Wooman!</h1>
             <p>View our hand-picked campgrounds from all over the world</p>
             <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% categories.forEach(function(category){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <div class="caption">
                       <h4><%= category.cat_name %></h4>
                   </div>
                   <p>
                       
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
